<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Scripts/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/Content/Site.css"/>
    <link rel="stylesheet" href="/Scripts/ngPage/ngPage.css" />
</head>
<body>
    <div class="container" ng-app="apps">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/ngPage/ngPage.js"></script>
    <script src="~/Scripts/apps.js"></script>
</body>
</html>
