<div class="row">
    <!-- Main Content -->
    <div class="col-md-12 margin-top-50">
        <!-- Blog Carousel Heading -->
        <div class="row">
            <div class="col-md-12">
                <h2>CUSTOMERS ORDER LIST</h2>
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-controller="ordersCtrl">
        <div class="row margin-bottom-50">
            <!-- Blog Grid -->
            <div class="col-md-12" ng-show="isprogressing">
                <div id="bWG">
                    <div id="bWG_1" class="bWG"></div>
                    <div id="bWG_2" class="bWG"></div>
                    <div id="bWG_3" class="bWG"></div>
                    <div id="bWG_4" class="bWG"></div>
                    <div id="bWG_5" class="bWG"></div>
                    <div id="bWG_6" class="bWG"></div>
                    <div id="bWG_7" class="bWG"></div>
                    <div id="bWG_8" class="bWG"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <h4>Keywords</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="text" ng-model="keywords" class="form-control" ng-keydown="enterClick($event.keyCode)" />
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default text-uppercase" ng-click="goClick()">GO</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-8">&nbsp;</div>
                    <div class="col-md-2 text-right">
                        <h4>Sort By</h4>
                    </div>
                    <div class="col-md-2 text-right">
                        <select id="orderby" ng-change="changeClick()" class="full-width has-padding has-border" ng-model="orderby" ng-options="item.label for item in sortbylist track by item.id"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-striped" ng-show="orders.length > 0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sales Id</th>
                            <th>Fullname</th>
                            <th>Product</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in orders">
                            <td>{{item.Id}}</td>
                            <td>{{item.Fullname}}</td>
                            <td>{{item.Product}}</td>
                            <td class="text-center">{{item.Quantity}}</td>
                            <td class="text-center">{{item.Price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 margin-bottom-50">
                <pagination selectedpageno="parameters.selectedpageno" numberofrecords="parameters.numberofrecords" numberofpages="parameters.numberofpages" itemsperpage="parameters.itemsperpage" pagesperblock="parameters.pagesperblock" on-click="onPageClick(id)"></pagination>
            </div>
            <!-- End Blog Grid -->
        </div>
        <!-- End Blog Carousel -->
    </div>
    <!-- End Main Content -->
</div>
<!--=== End Container Part ===-->
